<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="rvb_execute_models" xsi:type="object">RvB\CommandProxy\Console\Command\ExecuteModels</item>
            </argument>
        </arguments>
    </type>
    <!-- This is the proxy which bypasses the instantiation of the Slow class until a function within it is used. -->
    <type name="RvB\CommandProxy\Console\Command\ExecuteModels">
        <arguments>
            <argument name="slow" xsi:type="object">RvB\CommandProxy\Model\Slow\Proxy</argument>
        </arguments>
    </type>
</config>